li{
    list-style: none;
    display: flex;
    margin-bottom: 30px;
    min-width: 550px;
    justify-content: space-between;
}

/* Card Image */

.card-container{
    display: flex;
    border: 1px solid #e1e1e1;
    padding: 5px;
}
.card-img{
    height: 210px;
    border-radius: 5px;
}
.card-desc{
    display: flex;
    min-width: 230px;
}
.vote-button{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

/* Election List */
.main-content .election-list{
    font-size: 30px;
    font-weight: 600;
}

.logo-container{
    display: flex;
    justify-content: space-evenly;
}

.logo{
    height: 80px;
}

.nav-container{
    height: 80px;
    background: black;
    color: #fff;
    text-align: center;
    font-size: 28px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.log-out-button{
    height: 40px;
    width: 115px;
    border: 1px;
    font-size: 15px;
    background: #00c3ff;
    color: #fff;
    font-weight: 600;
}

.main-content{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 12px auto;
}

